/* Sidekick sidebar styles */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.csk-element-sidebar {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #f6f9fc;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  color: #111;
  font-family: 'Kumbh Sans', Verdana, sans-serif;
  font-size: 13px;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.5s;
  transform: translateX(-100%);
}
[data-init-csk] .csk-element-sidebar.show {
  transform: translateX(0);
}

.csk-h1,
.csk-h2 {
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.csk-h1 {
  position: relative;
  padding: 6px 0 3px 26px;
  background-color: #000;
  color: #fff;
}

.csk-h1 svg {
  position: absolute;
  top: 4px;
  right: 23px;
  width: 30px;
  filter: invert(1);
}

.csk-h2 {
  padding: 20px 26px 8px;
  color: #000;
}

.csk-element-sidebar ul {
  list-style: none;
  padding: 0;
}

.csk-element-sidebar .csk-item-group {
  display: block;
  color: #111;
  line-height: 2;
  user-select: none;
  transition: 0.3s;
}

.csk-element-sidebar .csk-item-group.selected,
.csk-element-sidebar .csk-item-group:hover {
  background-color: #ececec;
}

.csk-element-sidebar .csk-item {
  vertical-align: middle;
  cursor: pointer;
}

.csk-element-sidebar .csk-item:focus,
.csk-element-sidebar .csk-icon-expand:focus {
  outline: none;
}

.csk-sidebar-node {
  padding: 0 0;
}

.csk-sidebar-node .csk-icon-expand:before {
  display: inline-block;
  width: 10px;
  margin-right: 4px;
}

.csk-sidebar-node.expanded .csk-icon-expand:before {
  content: '-';
}

.csk-sidebar-node.collapsed .csk-icon-expand:before {
  content: '+';
}

.csk-sidebar-node.collapsed > ul {
  display: none;
  overflow: hidden;
}

.csk-element-sidebar .edit,
.csk-element-sidebar .view {
  margin-left: 5px;
  padding: 4px 5px 2.4px;
  background-color: #eaeaea;
  border-radius: 10px;
  color: #555;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s linear, color 0.05s linear;
  opacity: 0;
}

.csk-element-sidebar .csk-item-group:hover .edit,
.csk-element-sidebar .csk-item-group:hover .view {
  opacity: 1;
}

.csk-element-sidebar .csk-item-group .edit:hover,
.csk-element-sidebar .csk-item-group .view:hover {
  background-color: #9146ff;
  color: #fff;
  transition: background-color 0.1s linear, color 0.05s linear;
}

.csk-element-sidebar .csk-icon-expand {
  cursor: pointer;
  text-indent: 0;
}

.csk-element-sidebar li .csk-item-group {
  text-indent: 26px;
}

.csk-element-sidebar li li .csk-item-group {
  text-indent: 51px;
}

.csk-element-sidebar li li li .csk-item-group {
  text-indent: 76px;
}

.csk-element-sidebar li li li li .csk-item-group {
  text-indent: 101px;
}

.csk-element-sidebar li li li li li .csk-item-group {
  text-indent: 126px;
}

.csk-element-sidebar li li li li li li .csk-item-group {
  text-indent: 151px;
}

.csk-element-sidebar .csk-error-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.csk-element-sidebar .csk-tooltip-container {
  position: relative;
  display: inline-block;
  text-indent: initial;
}

.csk-element-sidebar .csk-item-group:hover .csk-tooltip-content {
  opacity: 1;
}

.csk-element-sidebar .csk-tooltip-content {
  position: absolute;
  top: 50%;
  left: calc(100% + 42px);
  transform: translateY(-50%);
  padding: 8px;
  background: white;
  box-shadow: 1px 1px 10px 0px #00000024;
  border-radius: 2px;
  opacity: 0;
  transition: 0.3s;
  width: 170px;
  font-size: 12px;
}

.csk-section {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 999;
}
#csk-sidebar-container {
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
  pointer-events: none;
}
#csk-sidebar-container > * {
  pointer-events: auto;
}
