.csk-element {
  outline: 1px dashed #00a7f7;
  cursor: pointer;
}
.csk-element:hover {
  outline: 1px solid #00a7f7;
  box-shadow: 0 0 0 4px rgba(0, 167, 247, 0.3);
}

.csk-element:hover:before {
  content: 'EDIT';
  position: absolute;
  padding: 2px 5px;
  background-color: #00a4fa;
  border-radius: 2px 2px 0 0;
  color: #FFF;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -16px;
}