/* [data-init-csk] #csk-site-content {
  position: fixed;
  top: 0;
  left: 300px;
} */

[data-init-csk] {
  /* position: relative; */
  margin-left: 20vw;
  width: 80vw;
}

[data-init-csk] [data-csk-entry-uuid] {
  cursor: pointer;
  /* position: relative; */
  transform: scale(1);
}

[data-init-csk] [data-csk-entry-uuid]:hover,
[data-init-csk] .csk-entry-unblur {
  z-index: 1031;
  position: relative;
}
/*
[data-init-csk] .cs-item-name {
  position: absolute;
  top: -23px;
  left: 41px;
  width: auto;
  height: 23px;
  padding: 2px 8px 1px 2px;
  background-color: #00a7f7;
  color: #fff;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 0.9px;
  line-height: 1.8;
  text-transform: capitalize;
} */
/*
[data-init-csk] [data-csk-entry-id]:hover::before {
  content: 'EDIT';
  z-index: 1111;
  position: absolute;
  top: -23px;
  left: -2px;
  width: 43px;
  padding: 2px 6px 1px;
  background-color: #00a7f7;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.7;
  text-transform: uppercase;
} */

[data-init-csk] .csk-entry-unblur::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
  outline: 0.125rem dashed #00a7f7;
}

[data-init-csk] #csk-overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
  transition: background-color 0.25s, backdrop-filter 0.25s;
  transition-delay: 0.25s;
}

[data-init-csk] #csk-overlay.show {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition-delay: 0s;
}
