/* Sidekick popup styles */
body {
  margin: 0;
}
header {
  padding: 0 10px;
}
main {
  padding: 2px 10px 10px;
}
h1 {
  color: #00a7f7;
  font-size: 12px;
}
.enable {
  min-width: 125px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
}
.enable span {
  display: block;
  margin-bottom: 7px;
}
input[type='checkbox'] {
  display: none;
  height: 0;
  width: 0;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 40px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #00a7f7;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

.version {
  float: right;
  padding-right: 10px;
}
