/* Sidekick popup styles */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', Verdana, sans-serif;
}

header {
  position: relative;
  padding: 8px 15px 9px;
  background-color: #000;
}

header img {
  position: absolute;
  top: 0;
  right: 14px;
  filter: invert(1);
}

footer {
  background-color: #eee;
  padding: 5px 10px;
  text-align: right;
}

main {
  margin-bottom: 14px;
  padding: 0 15px;
}

.csk-h1 {
  margin: 3px 50px 0 0;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.enable {
  min-width: 125px;
  margin-bottom: 16px;
  padding-top: 14px;
  white-space: nowrap;
}

.enable span {
  display: block;
  margin-bottom: 7px;
}

input[type='checkbox'] {
  display: none;
  height: 0;
  width: 0;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 40px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + label {
  background: #9146ff;
}

input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}
